[build]
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
  from = "/wp-admin/*"
  to = "/404"
  status = 410
  force = true

[[redirects]]
  from = "/wp-login.php"
  to = "/404"
  status = 410
  force = true

[[redirects]]
  from = "/*.php"
  to = "/404"
  status = 410
  force = true

[[redirects]]
  from = "/xmlrpc.php"
  to = "/404"
  status = 410
  force = true

[[redirects]]
  from = "/.env"
  to = "/404"
  status = 410
  force = true

[[redirects]]
  from = "/wordpress"
  to = "/404"
  status = 410
  force = true 

[[redirects]]
  from = "/wp-admin/setup-config.php"
  to = "/404"
  status = 410
  force = true

[[redirects]]
  from = "/wordpress/wp-admin/setup-config.php"
  to = "/404"
  status = 410
  force = true

[[redirects]]
  from = "/ads.txt"
  to = "/ads.txt"
  status = 200
  force = true
